body{
  background-color: #222E37;
}
.card-container{
  padding: 3rem 6rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
}

.icon{
  color: #ddd;
  font-size: 1.3rem;
}